{% extends 'topmenu.html' %}

{% block middlecontent %}

{% if sub == '취업정보' %}
<div id="employed_form_m">
    <table border="1">
        <tr>
            <th>이름</th>
            <th>아이디</th>
            <th>수강명</th>
            <th>조회수</th>
            <th>내용</th>
            <th>이미지</th>
            <th>취업회사</th>
        </tr>
        <tr>
            <form action="/admin/login_on/employed?locate={{sub}}" method="POST" enctype="multipart/form-data">
                <td><input type="text" name="userName"></td>
                <td><input type="text" name="userIdx"></td>
                <td><input type="text" name="courseName"></td>
                <td><input type="text" name="count"></td>
                <td><input type="text" name="contents"></td>
                <td><input type="file" name="employimg" accept="image/*"></td>
                <td><input type="text" name="company"></td>
                <td><input type="submit" value="새글작성"></td>
            </form>
        </tr>
    </table>
</div>
{% elif sub == '포트폴리오' %}
<div id="employed_form_m">
    <table border="1">
        <th>이름</th>
        <th>아이디</th>
        <th>제목</th>
        <th>내용</th>
        <th>조회수</th>
        <th>이미지</th>
        <tr>
            <form action="/admin/login_on/employed?locate={{sub}}" method="POST" enctype="multipart/form-data">
                <td><input type="text" name="userName"></td>
                <td><input type="text" name="userIdx"></td>
                <td><input type="text" name="title"></td>
                <td><input type="text" name="contents"></td>
                <td><input type="text" name="count"></td>
                <td><input type="file" name="employimg" accept="image/*"></td>
                <td><input type="submit" value="새글작성"></td>
            </form>
        </tr>
    </table>
</div>
{% endif %}

{% endblock %}