{% extends 'topmenu.html' %}
{% block middlecontent %}
<div id="facility_form_m">
    <form action="/admin/login_on/image" method="POST" enctype="multipart/form-data">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title">
            <label for="subboard">미니게시판선택</label>
            <input type="text" id="subboard" name="subboard">
            <input type="file" accept="image/*" name="img">
            <label for="url">url</label>
            <input type="text" name="url">
            <input type="submit" value="등록" name="enter">
        </div> 
    </form>
    {% set res = facility_img %}
    {% for item in res %}
    <form action="/admin/login_on/image_del" method="POST">
        <div><img src="http://localhost:3000/{{item.image}}" alt="슬라이드이미지" width="300px" height="300px"></div>
        <div><a href="{{item.url}}">{{item.url}}</a></div>
        <input type="submit" name="del" value="삭제">
        <input type="text" name="id" value="{{item.id}}" style="display: none;">
    </form>
</div>
    {% endfor %}
{% endblock %}