<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <link rel="stylesheet" href="./main/main.css">
    <link href="./main/Honeypot.png" rel="shortcut icon" type="image/x-icon">
    
</head>
<body>
    <div class="wrap">
        <div class="header_wrap">
            <div class="header">
                <div class="logo">
                    <img src="./main/로고.png" alt="">
                    <h2 class="main_title">Honeypot ants</h2>
                </div>
                <section class="gnb">
                    <ul class="gnb_con">
                        <li><a href="#">간편구매</a></li>
                        <li><a href="#">거래소</a></li>
                        <li><a href="#">프로차트</a></li>
                        <li><a href="#">코인정보</a></li>
                    </ul>
                </section>
                <div class="my_area">
                    {% if isLogin %}
                    <button>마이페이지</button>
                    <button onclick="location.href='/user/logout'">로그아웃</button>
                    {% else %}
                    <button onclick="location.href='/user/signup/agree'">회원가입</button>
                    <button onclick="location.href='/user'">로그인</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="divide"></div>
        <section class="main">
            <div class="main_con">
                <div id="coin_chart">
                    
                </div>
                <div class="coin_list">
                    <h2>코인 리스트</h2>
                    <ul>
                    
                    </ul>
                </div>
            </div>
            <div class="main_con2">
                <div class="Elon_twiter">
                    <h2>Elon Musk Twitter</h2>
                    <a class="twitter-timeline" href="https://twitter.com/elonmusk?ref_src=twsrc%5Etfw"></a>
                </div>
                <div class="coin_issue">
                    <h2>Coin issue</h2>
                {% for item in issue %}               
                <ul>
                    <li>{{item.title}}</li>
                </ul>
                {% endfor %}
                </div>
            </div>
            <div class="main_con3">
                <div class="chat">
                    <iframe src="http://localhost:3000/" width=100% height=500 scrolling="no" frameborder=0 margininheight=0 margininwidth=0 ailgn="top"></iframe>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer_con">
                
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../coin_issue.js"></script>
    <script type="text/javascript">

        const timer = ms => new Promise(res => setTimeout(res,ms));
        
        // apii=document.querySelector('');
        async function callbackhell(){
            const url2 = 'http://localhost:3001/info'
            const options2 = {method: 'POST', headers: {Accept: 'application/json'}};
           
            let fet = await fetch(url2, options2)
            .then(res=>{
                return res.json()
            })
            .then(json=>{
                const result = json['coin']
                document.title = result[0][0].trade_price.toLocaleString('ko-KR');;
                console.log(result);
                result.sort(function (a, b) { 
                    return a[0].trade_price < b[0].trade_price ? 1 : -1; 
                });
               
                let list = document.querySelector('.coin_list > ul');
                let coinList = document.querySelectorAll('.coin_list > ul > li');
                for(var i=0; i<result.length;i++){
                    if(coinList[0]==undefined){
                        
                        let li = document.createElement('li');

                        let p = document.createElement('p');
                        p.innerHTML = result[i][0].market;
          
                        let h5 = document.createElement('h5');
                        let span = document.createElement('span');
                        span.innerHTML = result[i][0].trade_price.toLocaleString('ko-KR');

                        var per = `${Math.round(result[i][0].change_rate * 10000) / 100}%`;
                        if(result[i][0].change == "FALL"){
                            h5.innerHTML = `-${per}`;
                            h5.style.color = 'blue';
                            span.style.color = 'blue';
                        }else if(result[i][0].change == "RISE"){
                            h5.innerHTML = per;
                            h5.style.color = 'red';
                            span.style.color = 'red';
                        }else{
                            h5.innerHTML = per;
                            h5.style.color = 'black';
                            span.style.color = 'black';
                        }

                        li.appendChild(p);
                        li.appendChild(span);
                        li.appendChild(h5);
                        list.appendChild(li);
                        
                    }else{
                     
                        const span = coinList[i].querySelector('span');
                        const h5 = coinList[i].querySelector('h5');
                  
                        span.innerHTML = result[i][0].trade_price.toLocaleString('ko-KR');

                        var per = `${Math.round(result[i][0].change_rate * 10000) / 100}%`;
                        if(result[i][0].change == "FALL"){
                            h5.innerHTML = `-${per}`;
                            h5.style.color = 'blue';
                            span.style.color = 'blue';
                        }else if(result[i][0].change == "RISE"){
                            h5.innerHTML = per;
                            h5.style.color = 'red';
                            span.style.color = 'red';
                        }else{
                            h5.innerHTML = per;
                            h5.style.color = 'black';
                            span.style.color = 'black';
                        }
                        
                    }
                    
                }
            })
            .catch(()=>{
                timer(3000)
                .catch(
                    console.log('timer errer')
                )
                location.reload(true);
                history.go(0);
            })

            
            
        }

        function draw3(coin){
				var chartdata = [];
				$.getJSON(`https://poloniex.com/public?command=returnChartData&currencyPair=${coin}&start=1455699200&end=9999999999&period=14400`, function (data) {
					$.each(data, function(i, item){
						chartdata.push([item.date*1000, item.open, item.high, item.low, item.close]);
					});
				}).done(function(){
					Highcharts.stockChart('coin_chart',{
						title: {
							text: `${coin}`
						},
						rangeSelector: {
							buttons: [
								{type: 'hour',count: 1,text: '1h'}, 
								{type: 'day',count: 1,text: '1d'}, 
								{type: 'all',count: 1,text: 'All'}
							],
							selected: 2,
							inputEnabled: true
						},
						plotOptions: {
							candlestick: {
								downColor: 'blue',
								upColor: 'red'
							}
						},
						series: [{
							name: `${coin}`,
							type: 'candlestick',
							data: chartdata,
							tooltip: {
								valueDecimals: 8
							}
						}]
					});
				});
			}
        draw3('USDT_BTC');
        callbackhell();
        setInterval(callbackhell,4000);
        


    </script>
</body>
</html>