<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    {% include "header.html" %}
        <div id ="login_container">
            <div id="login_content">
                <ul>
                    <li><img src="http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png"></li>
                    <li>
                        <form class = "login_form">
                            <ul>
                                <li>
                                    <input class = "userid" type="text" placeholder="아이디를 입력하세요" name="userid" required>
                                </li>
                                <li>
                                    <input class = "userpw" type="password" placeholder="비밀번호를 입력하세요" name="psw" required>
                                </li>
                                <li><button id="login_button">로그인</button></li>
                            </ul>
                        </form>
                        <li><button class="login_kakao"><a href="/user/auth/kakao">카카오 로그인</a></button></li>
                        <li><button class="login_google">Sign with Google</button></li>
                    </li>
                    <li>
                        <ul class = "login_ul">
                            <li><a href="/user/searchidpw">Forgot password?</a></li>
                            <li>New to Linkedin?    <a href="/user/join">Join now</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src = "/js/user/login.js"></script>
    {% include "footer.html" %}
</body>
</html>