<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{name}}님 환영합니다.<br>
    아이디는 : {{id}}<br>
    패스워드는 : {{pw}}입니다. <br>
    

    <h2>환영합니다.</h2>
    <a href="/">메인으로 가기 </a>
    <!-- 여기로 간다는 것은 
    localhost:3000으로 간 것
    localhost:3000으로 다시 호출 -> server.js에서
    
    app.get('/',(req,res)=>{
        ->
    }) -->


</body>
</html>