<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/middle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
    {% include "header.html" %}
    {% include "middle.html" %}
                    <img src="http://www.kiweb.or.kr/images/college/img_03_01.jpg">
                    <ul style="margin-top: 20px;">
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_parkbyungjun.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_yooseongjun.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_yanghyunseok.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_yeojongrak.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_seohyeokjun.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_leejaehwan.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_kimkiwon.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_jungjikhan.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_ohjunhwan.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_yangjuhyun.jpg">
                        </li>
                        <li>
                            <img src="http://www.kiweb.or.kr/images/college/profile_kimjaeyeon.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    
</body>
</html>