<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>게시판입니다.</h2>
    <div class="board">
        <p>공지 : 무분별한 비방과 욕설은 관리자에 의해 삭제될 수 있습니다.</p>
        <table>
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>날짜</td>
                <td>조회수</td>
            </tr>
            {% for item in list%}
            <tr>
                <td>{{item.idx}}</td>
                <td><a href='/view?idx={{item.idx}}'>{{item.subject}}</a></td>
                <td>{{item.name}}</td>
                <td>{{item.today}}</td>
                <td>{{item.idx}}</td>
                <td><a href="/delete">삭제하기</a></td>
                <td><a href="/dec?idx={{item.idx}}">신고하기</a></td>
                <td><a href="/manager?idx={{item.idx}}">관리자 삭제</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/write" class="write_btn">작성하기</a>
    </div>
        



    </form>
</body>
</html>