<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/join.css">
    <script type="text/javascript" src="./js/join.js"></script>
</head>
<body>
    회원가입
    <div class="joinPopup">
        <div id="joinForm">
            <form action="/join" id="join" name="join_form" method="post">
                <p>아이디</p>
                <input type="text" name="userId" class="userid">
                <p>비밀번호</p>
                <input type="password" name="userPw">
                <p>이름</p>
                <input type="text" name="name">
                <P>생년월일</P>
                <input type="date" name ="userBirth">
                <p>성별</p>
                남<input type="radio" name="gender" value="1">
                여<input type="radio" name="gender" value="0">
                
                <p>연락처</p>
                <input type="number" name="phoneNumber">
                <p>이메일</p>
                <input type="email" name="email">
                <input type="submit" value="submit">
            </form>
        </div>

    </div>
</body>
</html>