<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/main.js"></script>
</head>
<body>
    <button id="loginBtn">로그인</button>
    <a href="user/info">회원정보보기</a>
    <div class ="layerPopup">
        <div class="loginPopup">
            <div id="loginForm">
              <!-- form으로 바꿔서 해보기   -->
              <h2>로그인 페이지</h2>
              <input type="text" name="userid" id="userid" placeholder="아이디를 입력하세요">
              <input type="password" nmae="userpw" id="userpw" placeholder="패스워드를 입력해주세요">
              <button id="localLogin" class="loginSubmit">로그인</button>
              <button id="kakaoLogin" class="loginSubmit kakao">카카오 로그인</button> 
              <p class="joinWord">가입되지 않은 아이디이거나<br> 잘못된 비밀번호입니다.</p>
                <span class="joinBtn"><a href="join">회원가입</a></span>
            </div>
        </div>
    </div>
    <a href="##">test</a>
</body>
</html>