<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div>
            <div>
                <p>제목</p>
                <span>{{list.subject}}</span>
            </div>
            <ul>
                <li>
                    <span>고객분류</span>
                    <span></span>
                </li>
                <li>
                    <span>상품분류</span>
                    
                </li>
                <li>
                    <span>유형분류</span>
                    내용
                </li>
                <li>
                    <span>작성일</span>
                    내용
                </li>
            </ul>
            <ul>
                <li>
                    <span>사업분류</span>
                    내용
                </li>
                <li>
                    <span>상태</span>
                    내용
                </li>
                <li>
                    <span>물건지 정보</span>
                    내용
                </li>
                <li>
                    <span>공개여부</span>
                    공개
                </li>
            </ul>
            <p>내용</p>
        </div>
   
</body>
</html>