*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
}

ul,li{
    list-style: none;
}
a, a:link {
    color: #000;
    text-decoration: none;
    font-family: '비트로 프라이드 OTF';
  }
.wrap{
    width: 100%;
}
.logo>img{
    width: 130px;
    height: 130px;
    float: left;
}
.header_wrap{
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 9999;
    border-bottom: 5px solid rgb(253, 195, 27);
}
.header{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.gnb{
    float: left;
}

.gnb_con{
    margin-left: 30px;
}

.gnb_con>li{
    display: inline-block;
    padding: 38px 60px;
    font-size: 20px;
    font-weight: bold;
}
.gnb_con>li>a:after {
    display:block;
    content: '';
    border-bottom: solid 3px rgb(253, 195, 27);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }

.gnb_con>li>a:hover:after { 
    transform: scaleX(1); 
}

.my_area{
    display: inline-block;
    padding: 30px 36px 30px 60px;
}
.my_area>button{
    width: 80px;
    height: 40px;
    margin-right: 10px;
    font-size: 15px;
    font-family: '비트로 프라이드 OTF';
    background-color: rgb(255, 253, 219);
    border-radius: 5px;
    
}
.my_area>button:hover{ 
    box-shadow: 200px 0 0 0 rgba(243, 227, 3, 0.918) inset, -200px 0 0 0 rgba(243, 227, 3, 0.918) inset; 
}

.main{
    padding: 50px 0;
    border-bottom: 1px solid rgba(228, 229, 232);
}

.main_title{
    display: inline-block;
}

.main_con{
    width:1200px;
    margin: 0 auto;
    text-align: center;
    display:flex;
}



#divide{
    height: 190px;
    display: block;
}
#coin_chart{
    width: 800px !important;
    height: 500px !important;
    border: 1px solid rgba(228, 229, 232);
    border-radius: 10px;
    float: left;
}

.coin_chart>h2{
    margin-top: 20px;
    font-family: '비트로 프라이드 OTF';
}
.coin_chart>img{
    margin-top: 50px;
}


.coin_list{
    width: 350px;
    height: 500px;
    border: 1px solid rgba(228, 229, 232);
    border-radius: 10px;
    overFlow: auto;
}
.coin_list>h2{
    margin-top: 20px;
    font-family: '비트로 프라이드 OTF';
}
.coin_list>ul{
    margin-top: 30px;
}
.coin_list>ul>li{
    padding:25px;
}
.main2{
    padding-top: 50px;
}
.main_con2{

    width:1200px;
    margin: 0 auto;
    text-align: center;

}

.Elon_twiter{
    width: 550px;
    height: 400px;
    border: 1px solid rgba(228, 229, 232);
    border-radius: 10px;
    overFlow: auto;
    float: left;
}
.Elon_twiter>h2{
    margin-top: 20px;
    font-family: '비트로 프라이드 OTF';
}
.twitter-timeline{
    padding: 5px;
}

.coin_issue{
    margin-left: 600px;
    width: 550px;
    height: 400px;
    border: 1px solid rgba(228, 229, 232);
    border-radius: 10px;
}
.coin_issue>ul{
    margin-top: 30px;
}
.coin_issue>h2{
    margin-top: 20px;
    font-size: 25px;
    font-family: '비트로 프라이드 OTF';
}
.coin_issue>ul>li{
    padding:15px;
    font-size: 19px;
    font-family: '비트로 프라이드 OTF';
}
.mid_footer{
    margin: 50px 0;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 253, 219);
}
.main_con3{
    width:1200px;
    margin: 0 auto;
    text-align: center;
}
.chat{
    width: 1150px;
    height: 500px;
}
.footer{
    width: 100%;
    margin-top: 100px;
    border-top: solid 5px rgb(253, 195, 27); 
    background-color: rgb(248, 248, 249);
}

.footer_main{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}
.footer_con{
    margin-top: 30px;
    width: 400px;
    color: rgb(189, 190, 192);
    font-family: '비트로 프라이드 OTF';
}
.footer_con>strong{
    font-size: 20px;
    color:rgb(37, 37, 37);
    
}
.footer_con2{
    width: 400px;
    display: inline-block;
    color: rgb(189, 190, 192);
    font-family: '비트로 프라이드 OTF';
}
.footer_list{
    margin-top: -50px;
    width: 790px;
    display: inline-block;
}
.footer_list>ul{
    margin-left: 100px;
    float: left;
}
.footer_list>ul>h4{
    color:rgb(37, 37, 37);
    font-family: '비트로 프라이드 OTF';
}
.footer_list>ul>li>a{
    color: rgb(189, 190, 192);
    font-family: '비트로 프라이드 OTF';
}

.footer_list>ul>li{
    margin-top: 10px;
}