<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="st.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="write_complete">
        작성이 완료되었습니다.<br>
        <a href="/list">목록보기</a><br>
        <a href="/modify">수정하기</a>
    </div>
    {% include 'bottom.html' %}
</body>
</html>