<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="st.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="write_board">
        <form action="/write" method="post">
        <h2>게시판 작성</h2>
        <ul>
            <li>
                글제목
                <input type="text" name="board_subject">
            </li>
            
        </ul>
        <ul>
            <li>
                작성자
                <input type="text" name="board_name">
            </li>            
        </ul>
        <ul>
            <textarea name="board_content"></textarea>
        </ul>
        <input type="submit" value="작성하기" class="write_btn">
        <a href="/list">글목록</a>
        </form>
    </div>
    {% include 'bottom.html' %}
</body>
</html>