

.layerPopup{
    display:none;
    background-color:darkgray;
    position: fixed;
    top:0;
    width:100%;
    height: 100%;
}
.loginPopup{
    width:300px;
    height: 330px;
    box-sizing: border-box;
    padding: 0 50px 50px 50px;
    background-color: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.layerPopup.open{
    display: block;
    
}
#loginForm > h2{
    margin-top:20px;
}
#loginForm>input{
    width:100%;
    box-sizing: border-box;
    padding: 7px 14px;
    margin-top: 10px;
    border: 1px solid #666;
}

#loginForm>.loginSubmit{
    width:100%;
    height: 30px;
    border: 1px solid #666;
    background-color: #fff;
    margin-top: 10px;
    cursor:pointer;
    border-radius: 15px;
}

#loginForm>.kakao{
    background-color: yellow;
}

.joinWord{
    margin-top: 10px;
    text-align: left;
    font-size: 11px;
}
.joinWord>.joinBtn{
    float:right;
    color:blue;
    cursor:pointer;
}
/* 회원가입================================================ */
#joinForm input {
    border:1px solid black;
}